@{
    Layout = "_Layout";
}

 <div class='container'>
        <h1>All Foods</h1>

        @foreach(var food in Model)
        {
          <h3>@food.GetName() | <a href="/all/@food.GetId()/update">Edit</a></h3>
          <form action="/all/@food.GetId()/delete" method="post"><button type="submit" class="btn btn-warning">Delete</button></form>
          <ul>
            <li>Category: @food.GetCategoryId()</li>
            <li>Food Name: @food.GetName()</li>
          </ul>
        }
</div>